<!-- A common header ejs template to load our header. This should be included in every page -->
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar">
    <a href="/home" class="nav-button">Home</a>
    <a href="/top-rated" class="nav-button">Top Rated Movies</a>
    <a href="/random-movie" class="nav-button">Random Movie</a>
    <a href="/upcoming-movies" class="nav-button">Upcoming Movies</a>
  </nav>
  
  