<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>Upcoming Movies</title>
    <%- include('partials/header') %>
</head>
<body>
    <div class="upcoming-movies-section">
        <h1 class="upcoming-title">Upcoming Movies</h1>
        <ul class="upcoming-movies-list">
            <% movies.forEach(movie => { %>
                <li class="movie-card">
                    <h2><a href="/movies"><%= movie.title %></a></h2>
                    <p><strong>Release Year:</strong> <%= movie.releaseYear %></p>
                    <p><%= movie.description %></p>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
